:root {
    --primary: #ff6348;
    --gray-1: #001A2C;
    --gray-2: #efefef;
    --bs-body-font-family:'Montserrat', sans-serif!important;
    --font-family: 'Montserrat', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --text-color: white;
    --nav-color: #002137;
    --background-dark: #232323;
    --nice-color: #ba1f33;
    --textcolor: #ebecf3;
    --background: #00111C;
    --background-form:rgb(2, 62, 138,0.2);
    --hover:#00406C;
   
  }