@use '../../assets/styles/mixins' as mixin;

.header{
    position: relative;
    height: 58px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: var(--box-shadow-nav);
    color: var(--primary);
    img{
        width:130px;
    }
}

.headerList {
    @include mixin.xs {
        display: none;
    }
}


.headerXs {
    display: none;
    cursor: pointer;
    &:hover{
        transition: opacity 0.2s;
        opacity:0.8;
    }
    @include mixin.xs{
        display: block;
    }
}